/*
    FONTS
*/
@font-face {
    font-family: 'karla-bold';
    src: url('../lib/fonts/karla/karla-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'karla-bolditalic';
    src: url('../lib/fonts/karla/karla-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'karla-italic';
    src: url('../lib/fonts/karla/karla-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'karla-regular';
    src: url('../lib/fonts/karla/karla-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-italic';
    src: url('../lib/fonts/montserrat/montserrat-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../lib/fonts/montserrat/montserrat-light.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../lib/fonts/montserrat/montserrat-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../lib/fonts/montserrat/montserrat-semibold.ttf') format('truetype');
}

li {
    display: inline;
    list-style: circle;
}

p {
    font-family: karla-regular;
}

.footer_image {
    width: 5em;
    display: flex;
    margin: 5px;
}
/* COLORS */
:root {
    --pink: #FF6175;
    --darkPink: #B23242;
    --lightGreen: #7AFF96;
    --green: #57B56B;
    --darkGreen: #2A6637;
    --grey: #E1E1E1;
    --white: #F5F5F5;
}

/* NAVBAR */

.d {
   
    
}

.navbar-custom {
    font-family: montserrat-regular;
    cursor: pointer;
    border-top: solid;
    border-width: 1px;
    position: relative;
    
    top: 0;
    
}

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: var(--white);
        opacity: .9;
        border-bottom: solid;
        border-top: solid;
        border-color: var(--darkGreen);
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        z-index: 2;
    }

.navbar-brand:hover {
    border-bottom: solid;
    border-top: solid;
    border-color: white;
    color: white;
    opacity: 1;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--grey);
    opacity: .8;
    border-bottom: solid;
    border-top: solid;
    border-color: var(--darkGreen);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    border-bottom: solid;
    border-top: solid;
    border-color: white;
    color: white;
    opacity: 1;
}
