
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="inside-index">
        <div class="index">
            <h1 class="heading">Joe Barker</h1>
            <h4 class="subheading">Future Developer & Graduate</h4>
            <ul class="order-links">
                <li>
                    <a href="~/lib/images/weber state/Weber State University_200px.png" download>Resume</a>
                </li>
                <li><a href="mailto:joebarker@mail.weber.edu"><i class="far fa-envelope fa-lg"></i></a></li>
                <li><a href="https://github.com/joemakescool/Portfolio-of-Joe"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a href="https://www.linkedin.com/in/joe-barker-a172b596/"><i class="fab fa-linkedin-in fa-lg"></i></a></li>

            </ul>

        </div>
    </div>